<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Successful instagram authorization</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
    rel="stylesheet" />
  <style>
    html,
    body {
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100vh;
    }

    body {
      background-image: radial-gradient(circle, #FCE2DB 40%, #E4A3D4);
      text-align: center;
      width: 100vw;
      height: 100vh;
      font-size: 1.5rem;
      font-family: "Rubik", sans-serif;
      padding: 1px;
      box-sizing: border-box;
    }

    p:first-of-type {
      margin-top: 15vh;
    }

    p {
      padding: 10px;
      margin: 10px;
    }

    span#username {
      font-weight: 300;
      color: #6f4e37;
    }

    span#app-name {
      font-weight: 800;
      color: #6f4e37;
    }

    img#logo {
      width: 25vw;
      min-width: 150px;
    }
  </style>
</head>

<body>
  <p>Thank you, <span id="username">
      <%= username %>!
    </span></p>
  <p>
    <span id="app-name">WakeUp&ShakeUp</span>
    was successfully authorized!
  </p>
  <img
    src="https://firebasestorage.googleapis.com/v0/b/wakeupapple-4f737.appspot.com/o/assets%2Flogo.png?alt=media&token=b4b327e0-79af-4f0a-8cd8-42ea3e2a7c24I"
    id="logo" alt="WakeUp&ShakeUp logo with a shaking cup of coffee" />
  <p>Now you can close this page!</p>
</body>

</html>